@use '../../../scss/abstracts/colors' as colors;
@use '../../../scss/abstracts/variables' as var;
@use '../../../scss/abstracts/mixins' as mixins;

.container {
  height: 25vh;
  padding: 2rem 3rem;
  transition: background-color 0.2s ease;
}

.container.light {
  background-color: map-get(colors.$background, 'light');
}
.container.dark {
  background-color: map-get(colors.$background, 'dark');
}

.heading {
  width: fit-content;
  font-size: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 5px solid map-get(colors.$primary, 'light');
}
