/* offset-x | offset-y | blur-radius | spread-radius | color */
.container {
  border: 1px solid hsl(210deg, 85%, 70%);
  padding: 1.5rem;
  border-radius: 0.75rem;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  box-shadow: 0px 3px 20px 0px rgba(33, 34, 44, 0.25);
  transition: background-color 0.2s ease;
}
@media (min-width: 96em) {
  .container {
    grid-column: span 6;
    margin: 0;
  }
}

.container.light {
  background-color: hsl(205deg, 60%, 90%);
}

.container.dark {
  background-color: hsl(230deg, 30%, 30%);
}

.project-header {
  grid-column: span 12;
  grid-row: span 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media (min-width: 37.5em) {
  .project-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
.project-header .__title {
  border-bottom: 5px solid hsl(240deg, 75%, 60%);
}
.project-header .progress-message {
  font-weight: 500;
  margin-top: 1rem;
  border: 2px solid hsl(240deg, 75%, 60%);
  border-radius: 0.35rem;
}
@media (min-width: 37.5em) {
  .project-header .progress-message {
    margin-top: 0;
    margin-left: 1rem;
  }
}

.tech-heading {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 5px solid hsl(210deg, 85%, 50%);
}

.tech-stack {
  grid-column: span 12;
  grid-row: 6/7;
  padding-top: 1rem;
}
@media (min-width: 56.25em) {
  .tech-stack {
    padding: 1rem;
    grid-column: 9/13;
    grid-row: 3/7;
  }
}

.tech-list {
  margin-top: 1rem;
}
@media (min-width: 56.25em) {
  .tech-list {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media (min-width: 75em) {
  .tech-list {
    padding: 1rem;
  }
}
.tech-list .tech {
  margin-bottom: 0.5rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 37.5em) {
  .tech-list .tech {
    width: 25%;
  }
}
@media (min-width: 56.25em) {
  .tech-list .tech {
    padding-top: 0.5rem;
    width: 100%;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
.tech-list .tech-icon {
  font-size: 1.5rem;
}
@media (min-width: 75em) {
  .tech-list .tech-icon {
    display: initial;
  }
}
@media (min-width: 56.25em) {
  .tech-list .tech-caption {
    margin-left: 0.5rem;
  }
}

.project-info {
  grid-column: span 12;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 1rem 0;
}
@media (min-width: 56.25em) {
  .project-info {
    padding: 0;
    grid-column: 1/13;
    grid-row: 2/3;
  }
}
.demo-heading {
  border-top: 5px solid hsl(210deg, 85%, 50%);
}
.demo-heading.light {
  color: hsl(210deg, 85%, 50%);
}
.demo-heading.dark {
  color: hsl(210deg, 85%, 70%);
}

.demo {
  grid-column: 1/7;
  margin-top: 1rem;
}
@media (min-width: 56.25em) {
  .demo {
    padding: 1rem;
    grid-column: 9/13;
    grid-row: 7/9;
  }
}

.demo-login-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.demo-field {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.demo-email {
  padding-left: 0.5rem;
}

.demo-password {
  padding-left: 0.5rem;
}

.previews {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 0em) {
  .previews {
    grid-column: span 12;
    grid-row: 3/5;
  }
}
@media (min-width: 56.25em) {
  .previews {
    grid-column: 1/9;
    grid-row: 3/7;
  }
}
.previews .__preview {
  box-shadow: 2px 5px 10px 1px rgba(33, 34, 44, 0.15);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.previews .__preview .__image {
  border-radius: 0.5rem;
}
.previews .__preview--mobile {
  border-radius: 0.5rem;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}
@media (min-width: 56.25em) {
  .previews .__preview--mobile {
    width: 7.5rem;
    height: 13.3333333333rem;
  }
}
@media (min-width: 75em) {
  .previews .__preview--mobile {
    width: 9rem;
    height: 16rem;
  }
}

.links {
  margin-bottom: 0;
}
@media (min-width: 0em) {
  .links {
    grid-column: span 12;
    grid-row: 7/9;
  }
}
@media (min-width: 56.25em) {
  .links {
    grid-column: 1/9;
  }
}
.button-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}
@media (min-width: 56.25em) {
  .button-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.button-divider {
  width: 0.5rem;
  background-color: hsl(215deg, 75%, 80%);
}
@media (min-width: 56.25em) {
  .button-divider {
    display: none;
  }
}

.link {
  width: 100%;
}
.link button:disabled {
  cursor: default;
  pointer-events: none;
  background-color: hsl(230deg, 15%, 65%);
}

.project-link-button {
  margin: 0.25rem 0;
  width: 100%;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #d2d9f9;
  background-color: hsl(230deg, 30%, 30%);
  border-radius: 0.75rem;
  border: 2px solid hsl(230deg, 30%, 30%);
  padding: 1rem 2rem;
  transition: all 0.25s ease;
}

.project-link-button__icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.project-link-button__text {
  padding: 0 0.5rem;
}

.project-link-button.dark {
  background-color: hsl(210deg, 85%, 50%);
}

.project-link-button:hover {
  filter: brightness(1.25);
}

@media (min-width: 0em) {
  .project-link-button--live {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
@media (min-width: 56.25em) {
  .project-link-button--live {
    border-top-right-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
  }
}

@media (min-width: 0em) {
  .project-link-button--github {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
@media (min-width: 56.25em) {
  .project-link-button--github {
    border-top-left-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
  }
}/*# sourceMappingURL=ProjectCard.module.css.map */