@use '../../scss/abstracts/colors' as colors;
@use '../../scss/abstracts/mixins' as mixins;
@use '../../scss/abstracts/variables' as var;

.container {
  padding: 1.5rem;
  border-radius: 0.75rem;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  box-shadow: map-get(var.$shadow, 'card');
  transition: background-color 0.2s ease;
  @include mixins.breakpoint('>=md') {
    grid-template-rows: repeat(8, 1fr);
    padding: 2rem;
  }
}

.container.light {
  background-color: map-get(colors.$card, 'light');
}
.container.dark {
  background-color: map-get(colors.$card, 'dark');
}

.project-header {
  grid-column: span 12;
  grid-row: span 1;

  @include mixins.flex(column, center, flex-start);
  @include mixins.breakpoint('>=sm') {
    @include mixins.flex(row, flex-start, center);
  }

  .__title {
    padding-bottom: 0.5rem;
    border-bottom: 5px solid map-get(colors.$primary, 'main');
  }

  .progress-message {
    font-weight: 500;
    // color: map-get(colors.$primary, 'main');
    margin-top: 1rem;
    padding: 0.25rem 1rem;
    border: 2px solid map-get(colors.$primary, 'main');
    border-radius: 0.35rem;
    @include mixins.breakpoint('>=sm') {
      margin-top: 0;
      margin-left: 1rem;
    }
    // background-color: map-get(colors.$primary, 'light');
  }
}

.tech-heading {
  width: fit-content;
  border-bottom: 5px solid map-get(colors.$secondary, 'main');
  margin-top: 1rem;
  @include mixins.breakpoint('>=xs') {
    grid-column: 1 / 13;
  }
  @include mixins.breakpoint('>=md') {
    margin-top: 0;
    margin-left: 1rem;
    grid-column: 7 / 13;
    grid-row: 3 / 4;
  }
  @include mixins.breakpoint('>=lg') {
    // grid-column: 1 / 9; //odd
    grid-column: 1 / 13;
    grid-row: 9 / 10;
  }
}
.tech-list {
  // @include mixins.action-button-text();
  height: fit-content;
  @include mixins.breakpoint('>=xs') {
    padding: 1rem;
    grid-column: span 12;
    grid-row: 6 / 7;
  }
  @include mixins.breakpoint('>=md') {
    padding: 1rem;
    grid-column: 7 / 13;
    grid-row: 4 / 8;
    @include mixins.flex(row, flex-start, center);
  }
  @include mixins.breakpoint('>=lg') {
    padding: 1rem 1rem 0 1rem;
    // grid-column: 1 / 9; //odd
    grid-column: 1 / 13;
    grid-row: 10 / 13;
    @include mixins.flex(row, flex-start, center);
  }

  .tech {
    height: fit-content;
    @include mixins.flex(column, center, center);
    @include mixins.breakpoint('>=xs') {
      padding-bottom: 1rem;
    }
    @include mixins.breakpoint('>=md') {
      @include mixins.flex(row, flex-start, center);
      padding: 0;
      margin-bottom: 0.5rem;
    }
    @include mixins.breakpoint('>=lg') {
      @include mixins.flex(column, center, center);
      padding-bottom: 1rem;
    }
  }
  .tech-icon {
    font-size: 2rem;
    @include mixins.breakpoint('>=md') {
      font-size: 1.5rem;
      // display: none;
    }
    @include mixins.breakpoint('>=lg') {
      display: initial;
      font-size: 2rem;
    }
  }

  .tech-caption {
    @include mixins.breakpoint('>=md') {
      padding-left: 0.5rem;
    }
    @include mixins.breakpoint('>=lg') {
      padding-left: 0;
    }
  }
}
.project-info {
  grid-column: span 12;
  grid-row: 2 / 3;
  padding: 1rem 0;
  @include mixins.flex(column, center, flex-start);

  @include mixins.breakpoint('>=md') {
    grid-column: 1 / 13;
    grid-row: 2 / 3;
  }
  @include mixins.breakpoint('>=lg') {
    padding: 1rem;
    grid-column: 9 / 13; //odd
    // grid-column: 1 / 5;
    grid-row: 2 / 5;
  }
}

.demo-heading {
  border-top: 5px solid map-get(colors.$secondary, 'main');
  padding-top: 1rem;
  margin-top: 1rem;

  &.light {
    color: map-get(colors.$secondary, 'main');
  }
  &.dark {
    color: map-get(colors.$secondary, 'light');
  }
}

.demo {
  grid-column: 1 / 7;
  @include mixins.breakpoint('>=lg') {
    margin-top: 1rem;
    padding-left: 1rem;
    grid-column: 9 / 13; //odd
    grid-row: 4 / 6;
  }
}

.demo-login-info {
  // @include mixins.flex(row, center, center);
  @include mixins.flex(column, center, flex-start);
  @include mixins.breakpoint('>=lg') {
  }
}

.demo-field {
  @include mixins.flex(row, center, center);
}

.demo-email {
  padding-left: 0.5rem;
}

.demo-password {
  padding-left: 0.5rem;
}

.previews {
  // height: fit-content;
  padding: 1rem;
  @include mixins.flex(column, center, center);
  @include mixins.breakpoint('>=xs') {
    grid-column: span 12;
    grid-row: 3 / 5;
  }
  @include mixins.breakpoint('>=md') {
    // justify-content: center;
    // margin: auto;
    grid-column: 1 / 7;
    grid-row: 3 / 8;
  }
  @include mixins.breakpoint('>=lg') {
    grid-column: 1 / 9; //odd
    // grid-column: 5 / 13;
    grid-row: 2 / 9;
    padding: 1rem;
  }

  .__preview {
    // background-color: map-get(colors.$bezel, 'light');
    box-shadow: map-get(var.$shadow, 'bezel');
    border-radius: 0.5rem;

    @include mixins.flex(column, center, center);

    .__image {
      border-radius: 0.5rem;
    }
  }

  .__preview--mobile {
    border-radius: 0.5rem;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    @include mixins.breakpoint('>=md') {
      @include mixins.preview--mobile(7.5rem);
    }
    @include mixins.breakpoint('>=lg') {
      @include mixins.preview--mobile(9rem);
    }
  }
}

.links {
  margin-bottom: 0;
  @include mixins.breakpoint('>=xs') {
    grid-column: span 12;
    grid-row: 7 / 8;
  }
  @include mixins.breakpoint('>=md') {
    grid-column: 1 / 13;
    grid-row: 8 / 9;
  }
  @include mixins.breakpoint('>=lg') {
    padding: 1rem;
    grid-column: 9 / 13; //odd
    // grid-column: 1 / 5;
    grid-row: 6 / 9;
  }
}

.button-group {
  width: 100%;
  @include mixins.flex(row, center, center);
  @include mixins.breakpoint('>=lg') {
    height: 100%;
    @include mixins.flex(column, flex-end, center);
  }
}

.button-divider {
  width: 0.5rem;
  height: 100%;
  background-color: colors.$divider;
  @include mixins.breakpoint('>=lg') {
    display: none;
  }
}

.link {
  width: 100%;
  button:disabled {
    cursor: default;
    pointer-events: none;
    background-color: map-get(colors.$grey, 'dark');
  }
}

.project-link-button {
  margin-top: 0.5rem;
  width: 100%;
  @include mixins.action-button-text();
  @include mixins.flex(row, center, center);
  @include mixins.filled-button(map-get(colors.$card, 'dark'));
}
.project-link-button__icon {
  @include mixins.flex(row, center, center);
  font-size: 1.5rem;
}

.project-link-button__text {
  padding: 0 0.5rem;
}

.project-link-button.dark {
  background-color: (map-get(colors.$secondary, 'main'));
}

.project-link-button:hover {
  @include mixins.filled-button--hover();
}
.project-link-button--live {
  @include mixins.breakpoint('>=xs') {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  @include mixins.breakpoint('>=lg') {
    border-top-right-radius: var.$borderRad__action-button;
    border-bottom-right-radius: var.$borderRad__action-button;
  }
}
.project-link-button--github {
  @include mixins.breakpoint('>=xs') {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  @include mixins.breakpoint('>=lg') {
    border-top-left-radius: var.$borderRad__action-button;
    border-bottom-left-radius: var.$borderRad__action-button;
  }
}
