@use '../../scss/abstracts/colors' as colors;
@use '../../scss/abstracts/mixins' as mixins;

.container {
  // height: 75vh;
  padding: 1.5rem;
  background-color: colors.$bg;
  border-radius: 1rem;
  margin-bottom: 1rem;

  .project-header {
    width: 100%;
  }
  .project-header__title {
    font-size: 1.5rem;
    padding: 0.5rem 0;
  }
}

.links {
  .button-group {
    @include mixins.flex-row();
    width: 50%;

    .button-divider {
      width: 2px;
      height: 100%;
      background-color: colors.$divider;
    }

    .project-link-button {
      width: 100%;
      @include mixins.filled-button(colors.$card--dark, 1.5rem);
      @include mixins.action-button-text();

      @include mixins.flex(column, center, center);
      @include mixins.breakpoint('>=sm') {
        @include mixins.flex(row, center, center);
      }

      .project-link-button__icon {
        @include mixins.flex(row, center, center);
        font-size: 1.5rem;
      }

      .project-link-button__text {
        padding: 0 0.5rem;
      }
    }

    .project-link-button--github {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .project-link-button--live {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.previews {
  padding: 1rem;
  border: 1px solid colors.$prim;
  border-radius: 0.5rem;
  height: 100%;
  width: 100%;
}

.previews-container {
  padding: 1rem;
}
