@use '../../scss/abstracts/colors' as colors;
@use '../../scss/abstracts/mixins' as mixins;

.label {
  @include mixins.flex(row, center, center);
  position: relative;
  margin: 0 1rem;
  cursor: pointer;

  border: 2px solid map-get(colors.$primary, 'main');
  border-radius: 45%;
  padding: 0.25rem;
  transition: all 0.2s ease;
  @include mixins.flex(row, center, center);

  .checkbox {
    display: none;
  }
  .icon {
    font-size: 1.25rem;
  }
  .sun {
    color: map-get(colors.$system, 'lightThemeIcon');
  }
  .moon {
    color: map-get(colors.$system, 'darkThemeIcon');
  }

  .label-text {
    display: none;
    // border: 0 !important;
    // clip: rect(1px, 1px, 1px, 1px) !important;
    // -webkit-clip-path: inset(50%) !important;
    // clip-path: inset(50%) !important;
    // height: 1px !important;
    // overflow: hidden !important;
    // margin: -1px !important;
    // padding: 0 !important;
    // position: absolute !important;
    // width: 1px !important;
    // white-space: nowrap !important;
  }

  .switch:hover {
    filter: brightness(1.25);
  }
}
