@use '../../scss/abstracts/colors' as colors;
@use '../../scss/abstracts/mixins' as mixins;

.container {
  @include mixins.flex(row, center, center);
  position: relative;
  margin: 0 1rem;

  .switch {
    border: 2px solid map-get(colors.$primary, 'main');
    border-radius: 45%;
    padding: 0.25rem;
    transition: all 0.2s ease;
    @include mixins.flex(row, center, center);
    .icon {
      font-size: 1.25rem;
    }
    .sun {
      color: map-get(colors.$system, 'lightThemeIcon');
    }
    .moon {
      color: map-get(colors.$system, 'darkThemeIcon');
    }
  }

  .switch:hover {
    filter: brightness(1.25);
  }
}
