@use '../../scss/abstracts/colors' as colors;
@use '../../scss/abstracts/mixins' as mixins;

.container {
  @include mixins.flex(row, center, center);
  position: relative;

  .switch {
    border: 1px solid black;
    position: absolute;
    transform: translateX(-50%);
    width: 50%;
    height: 100%;
    z-index: -1;
  }

  .label {
    @include mixins.flex(row, center, center);
  }

  .icon {
    font-size: 1.5rem;
  }
  .radio {
    display: none;
  }
  .radio:checked + .label {
    color: map-get(colors.$secondary, 'light');
  }
}
