// @import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

@font-face {
  font-family: 'Syne';
  src: url('../../assets/fonts/Syne/Syne-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Syne';
  src: url('../../assets/fonts/Syne/Syne-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Syne';
  src: url('../../assets/fonts/Syne/Syne-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'Syne';
  src: url('../../assets/fonts/Syne/Syne-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: 'Syne';
  src: url('../../assets/fonts/Syne/Syne-ExtraBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 800;
}

$font: 'Syne', sans-serif;
