@use '../../scss/abstracts/colors' as colors;
@use '../../scss/abstracts/variables' as var;
@use '../../scss/abstracts/mixins' as mixins;

.hero {
  height: var.$mainContentHeight;
  padding: 0 2rem;
  @include mixins.flex(column);
  justify-content: center;
}

.greeting,
.name,
.title {
  @include mixins.breakpoint('>=md') {
    margin-left: 1rem;
  }
}

.greeting {
  font-size: 1.25rem;
  font-weight: 500;
}

.name {
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: 700;
  @include mixins.breakpoint('>=sm') {
    font-size: 4rem;
  }
  @include mixins.breakpoint('>=lg') {
    font-size: 4.5rem;
  }
}
.title {
  color: map-get(colors.$primary, 'main');
  font-size: 2rem;
  font-weight: 600;
  @include mixins.breakpoint('>=md') {
    padding-left: 1rem;
  }
}
.brief {
  width: fit-content;
  color: map-get(colors.$primary, 'main');
  font-size: 1.5rem;
  font-weight: 400;
  width: 70%;
  @include mixins.breakpoint('>=sm') {
    font-size: 1.5rem;
    width: 60%;
  }
  @include mixins.breakpoint('>=md') {
    width: 70%;
    font-size: 2rem;
  }
  @include mixins.breakpoint('>=lg') {
    font-size: 1.75rem;
    width: 40%;
  }
}

.action-button {
  @include mixins.filled-button(map-get(colors.$primary, 'main'));
  @include mixins.action-button-text();
  margin: 1rem auto;
}

.action-button:hover {
  @include mixins.filled-button--hover();
}
