@use '../../scss/abstracts/colors' as colors;
@use '../../scss/abstracts/mixins' as mixins;
@use '../../scss/abstracts/variables' as var;

.heading {
  font-size: 2rem;
  // padding-left: 1rem;
  @include mixins.breakpoint('>=md') {
    padding-left: 0;
  }
}

.skills {
  position: relative;
  font-size: 1.25rem;
  // min-height: calc((100vh - var.$headerHeight) - 5rem);
  padding: 2rem 1rem;
  @include mixins.breakpoint('>=sm') {
    padding: 2rem;
  }

  margin-bottom: 4rem;
  @include mixins.flex(column, center, flex-start);
  @include mixins.breakpoint('>=md') {
    padding: 4rem 2rem;
    width: 75%;
  }
  @include mixins.breakpoint('>=lg') {
    padding: 4rem;
  }
}

.list {
  padding: 1rem;
}

.skill {
  @include mixins.flex(row, flex-start, flex-start);

  margin-top: 1rem;
  margin-bottom: 1rem;

  .bullet-container {
    width: 30px;
    height: 100%;
    padding-top: 0.25rem;
  }

  .bullet,
  strong {
    transition: color 0.2s ease;
  }

  & .bullet {
    margin-right: 1rem;
    &.light {
      color: map-get(colors.$secondary, 'main');
    }
    &.dark {
      color: map-get(colors.$primary, 'main');
    }
  }

  & strong {
    &.light {
      color: map-get(colors.$primary, 'main');
    }
    &.dark {
      color: map-get(colors.$secondary, 'light');
    }
  }
}

.pattern {
  position: absolute;
  top: -12rem;
  left: 0;
  width: 100%;
  min-height: 265vh;
  max-height: 300vh;
  display: flex;
  // background-color: map-get(colors.$primary, 'main');
  z-index: -1;
}

.pattern::before {
  content: '';
  position: absolute;
  background-repeat: repeat;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
}
.light.pattern::before {
  background-image: url('../../assets/topography-light.svg');
}
.dark.pattern::before {
  background-image: url('../../assets/topography-dark.svg');
}
