@use '../abstracts/colors' as colors;

h1 {
  font-weight: 700;
  font-size: 2.5rem;
}
h2 {
  font-weight: 600;
  font-size: 2rem;
}
h3 {
  font-weight: 500;
  font-size: 1.5rem;

  padding: 1rem 0;
}

a {
  color: inherit;
  text-decoration: none;
}
