@use '../scss/abstracts/mixins' as mixins;
@use '../scss/abstracts/colors' as colors;

.heading {
  @include mixins.flex(row, center, center);
  width: fit-content;
  margin-left: 2rem;
  padding: 1rem 0;
  font-size: 2.5rem;
  border-bottom: 5px solid colors.$prim;
}

.projects {
  margin-top: 1rem;
  padding: 0 4rem;
}

.action-button {
  @include mixins.filled-button(colors.$sec, 1.5rem);
  @include mixins.action-button-text();
}
