@use '../scss/abstracts/mixins' as mixins;
@use '../scss/abstracts/colors' as colors;

.heading {
  @include mixins.flex(row, center, center);
  width: fit-content;
  margin: 4rem 0;
  margin-left: 2rem;
  padding: 1rem 1rem 1rem 0;
  font-weight: 600;
  font-size: 2.5rem;
  border-bottom: 5px solid map-get(colors.$primary, 'main');
}

.projects {
  margin-top: 1rem;
  padding: 0 1rem;
  @include mixins.breakpoint('>=sm') {
    padding: 0 2rem;
  }
  @include mixins.breakpoint('>=md') {
    padding: 0 3rem;
  }
  @include mixins.breakpoint('>=lg') {
    padding: 0 8rem;
  }
}

.skills {
  color: map-get(colors.$text, 'contrast');
  background-color: map-get(colors.$card, 'dark');
  padding: 2rem;
  margin: 4rem;

  border-radius: 0.75rem;

  figure {
    margin-bottom: 1rem;
  }
}

.currently-learning {
  @include mixins.breakpoint('>=md') {
    width: 50%;
  }
}

.svg-icon {
  width: 3rem;
  margin: 0.5rem;
}
.font-icon {
  font-size: 3rem;
  margin: 0.5rem;
}

.action-button {
  @include mixins.filled-button(map-get(colors.$secondary, 'main'));
  @include mixins.action-button-text();
}
