@use '../../../scss/abstracts/colors' as colors;
@use '../../../scss/abstracts/variables' as var;
@use '../../../scss/abstracts/mixins' as mixins;

.header {
  width: 100%;
  padding: 0 2rem;

  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var.$headerHeight;
  z-index: 1000;
  transition: background-color 0.2s ease;

  @include mixins.breakpoint('>=md') {
    justify-content: space-between;
  }
}

.header.light {
  background-color: map-get(colors.$background, 'light');
}
.header.dark {
  background-color: map-get(colors.$background, 'dark');
}

.main-banner {
  width: 50%;
  position: absolute;
  left: 25%;
  z-index: 10;
  @include mixins.flex(row, center, center);

  @include mixins.breakpoint('>=sm') {
    width: fit-content;
    position: static;
  }

  .logo {
    cursor: pointer;
    @include mixins.flex(row, center, center);
  }
}

.main-title {
  // color: map-get(colors.$primary, 'main');
  margin-left: 0.125rem;
  font-weight: 800;
  font-size: 1.75rem;
  display: none;

  @include mixins.breakpoint('>=sm') {
    display: flex;
  }
}

.alias {
  font-weight: 800;
  font-size: 1.75rem;
  width: 100%;
  @include mixins.flex-row();
  justify-content: center;

  @include mixins.breakpoint('>=sm') {
    // width: 25%;
    justify-content: space-between;
  }
}

.home-icon {
  font-size: 2.25rem;
  @include mixins.breakpoint('>=sm') {
    // font-size: 3rem;
    font-size: 1;
  }
  display: flex;
  background-color: transparent;
  // border-radius: 50%;
  // padding: 0.25rem;
  // @include mixins.shadow(0px, 1px, 3px, 0px, 0.1);
}

.menu-button__container {
  position: absolute;
  right: 0;
  height: 100%;
  justify-content: center;
  width: 100%;
  @include mixins.flex(row, space-between, center);
  @include mixins.breakpoint('>=sm') {
    position: static;
    width: fit-content;
    @include mixins.flex(row, center, center);
  }

  .menu-button {
    // color: map-get(colors.$text, 'main');
    margin-right: 1rem;
    @include mixins.flex-column();
    @include mixins.breakpoint('>=md') {
      display: none;
    }

    .burger-icon {
      font-size: 2rem;
      color: map-get(colors.$primary, 'main');
    }
  }
}

.nav {
  @include mixins.flex(row, center, center);

  height: 100%;

  .nav-links {
    width: 100%;
    // on mobile
    display: none;
    font-weight: 600;
    font-size: 0.85rem;
    letter-spacing: 1.75px;
    text-transform: uppercase;

    @include mixins.breakpoint('>=sm') {
      height: 100%;
      margin: 0;
      padding: 0;
    }

    @include mixins.breakpoint('>=md') {
      @include mixins.flex-row();
      justify-content: center;
      align-items: center;
    }

    .__link {
      padding: 0 1rem;
      @include mixins.flex(row, center, center);
      cursor: pointer;
      transition: filter 0.25s ease;

      .social-icon {
        color: map-get(colors.$primary, 'main');
        font-size: 1.5rem;
      }

      .cv-icon {
        font-size: 1rem;
      }
    }
    .__link.social {
      padding: 1rem;
    }
    .__link:hover {
      filter: brightness(1.25);
    }

    .cv-link {
      @include mixins.action-button-text();

      @include mixins.filled-button(
        map-get(colors.$primary, 'main'),
        0.5rem,
        0.5rem,
        1.5rem
      );
      .cv-link__text {
        padding: 0 0.25rem;
      }
    }
  }
}
