$headerHeight: 8vh;
$mainContentHeight: 100vh - $headerHeight;

$borderRad__action-button: 0.75rem;

$preview--height: 576px;
$preview--width: (16/9) * $preview--height;

/* offset-x | offset-y | blur-radius | spread-radius | color */
$headerShadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.05);
$boxShadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);

$shadow: (
  'header': 0px 0px 5px 0px rgba(33, 34, 44, 0.1),
  'card': 0px 3px 20px 0px rgba(33, 34, 44, 0.25),
  'bezel': 2px 5px 10px 1px rgba(33, 34, 44, 0.15),
);
