@use '../../scss/abstracts/mixins' as mixins;
@use '../../scss/abstracts/colors' as colors;
@use '../../scss/abstracts/variables' as var;

.container {
  min-height: calc((100vh - var.$headerHeight) - 5rem);
  padding: 2rem;
  padding-bottom: 6rem;
  margin-bottom: 4rem;
  @include mixins.breakpoint('>=md') {
    padding: 4rem;
  }
  // padding: 0 4rem 4rem 4rem;
  @include mixins.flex(column, center, flex-start);
  article {
    padding: 1rem;
  }
}

.greeting {
  font-size: 2rem;
  // letter-spacing: 1px;
}

.__subheading {
  margin-bottom: 1rem;
}

.bio {
  font-size: 1.25rem;
  line-height: 1.75;
  @include mixins.breakpoint('>=md') {
    width: 50%;
  }
  .__text {
    margin-bottom: 1rem;
  }
}

.skills {
  font-size: 1.25rem;
}

.currently-learning {
  @include mixins.breakpoint('>=md') {
    width: 50%;
  }

  .icon {
    margin: 0 0.5rem;
    font-size: 2rem;
  }
  .__blurb {
    font-size: 1.25rem;

    line-height: 1.75;
    padding-bottom: 1rem;
  }
}

.svg-icon {
  width: 3rem;
}
.font-icon {
  font-size: 3rem;
}
