@use '../../scss/abstracts/mixins' as mixins;
@use '../../scss/abstracts/colors' as colors;
@use '../../scss/abstracts/variables' as var;

.container {
  min-height: calc((100vh - var.$headerHeight) - 5rem);
  padding: 4rem;
  // padding: 0 4rem 4rem 4rem;
  @include mixins.flex(column, center, flex-start);
  article {
    padding: 1rem;
  }
}

.greeting {
  font-size: 2rem;
  letter-spacing: 1px;
}

.about-me {
  font-size: 1.5rem;
  line-height: 1.75;
  @include mixins.breakpoint('>=md') {
    width: 50%;
  }
}

.skills {
  // color: map-get(colors.$text, 'contrast');
  // background-color: map-get(colors.$background, 'dark');
}

.currently-learning {
  @include mixins.breakpoint('>=md') {
    width: 50%;
  }
}

.svg-icon {
  width: 3rem;
}
.font-icon {
  font-size: 3rem;
}
